body
	{
		background-color: #b7c8b5
	}

a:link, a:visited
	{
		color:#2a4d61;
		background-color: lightblue;
		text-decoration: none;
		padding: 15px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
	}

a:hover
	{
		color:red;
		background-color:#c58384;
		text-decoration: none;
	}

a:active
	{
		color: #850827;
		background-color: #6ebd8f;
		text-decoration: none;
	}